CompileFlags:
  CompilationDatabase: build/debug

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - readability-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
